<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="shortcut icon"
      href="https://chat.openai.com/favicon.ico"
      type="image/x-icon"
    />
    <title>Ishan - GPT</title>
  </head>
  <body class="bg-chatBlack-50">
    <div class="flex h-screen">
      <div class="left bg-[#202123] w-2/12 px-2 py-4">
        <button
          class="bg-gray-600 text-white w-full h-12 flex items-center justify-center rounded-lg hover:bg-gray-700"
        >
          New Chat +
        </button>

        <div class="chats mt-4 flex flex-col justify-center items-center gap-2">
          <div
            class="chat p-2 rounded-lg flex items-center justify-center cursor-pointer hover:bg-gray-500 gap-2 text-white w-full"
          >
            <svg
              stroke="currentColor"
              fill="none"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-4 w-4"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
              ></path>
            </svg>

            Chats 1
          </div>
        </div>
      </div>
      <div class="right1 w-10/12 px-2 py-4">
        <div class="flex flex-col justify-between h-full">
          <div class="flex justify-center items-center">
            <h1 class="text-4xl text-white capitalize">Ishan- gpt</h1>
          </div>
          <div class="flex">
            <input
              type="text"
              class="w-full h-12 px-4 rounded-lg bg-[#40414f] text-white focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
              placeholder="Type a message ..."
            />
            <button>Send</button>
          </div>
        </div>
      </div>
      <div class="right2"></div>
    </div>
    <script>
      let btn = document.querySelector("button");
      btn.addEventListener("click", () => {
        alert("Hello");
      });
    </script>
  </body>
</html>
